<div class="right-sidebar">
  <div class="right-sidebar-header">
    Add new taxes
    <a (click)="onCloseSidebar()" class="sidebar-close"><i nz-icon nzType="close"></i></a>
  </div>
  <div class="right-sidebar-content">
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label>Country *</nz-form-label>
        <nz-form-control  nzErrorTip="Please input your name!">
          <nz-select
            id="country"
            formControlName="country"
            nzPlaceHolder="Please select your country"
            nzSize="large"
          >
            <nz-option nzValue="Germany" nzLabel="Germany"></nz-option>
            <nz-option nzValue="United States" nzLabel="United States"></nz-option>
            <nz-option nzValue="France" nzLabel="Germany"></nz-option>
            <nz-option nzValue="Spain" nzLabel="Spain"></nz-option>
            <nz-option nzValue="Russia" nzLabel="Russia"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Code *</nz-form-label>
        <nz-form-control nzErrorTip="Please input your code!">
          <input nz-input formControlName="code" placeholder="Code" nzSize="large" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Value *</nz-form-label>
        <nz-form-control nzErrorTip="Please input your value!">
          <input nz-input formControlName="value" placeholder="Value" nzSize="large" />
        </nz-form-control>
      </nz-form-item>
      <div class="tab-container">
        <nz-tabset nzType="card" nzSize="small" (nzSelectChange)="onTabClick($event)">
          <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name">
            <nz-form-item>
              <nz-form-label>Name ({{tab.name}}) *</nz-form-label>
              <nz-form-control nzErrorTip="Fill in {{tab.lang}}">
                <input nz-input formControlName="name" placeholder="Name" nzSize="large" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Description ({{tab.name}})</nz-form-label>
              <nz-form-control>
                <textarea formControlName="description" nz-input rows="3" placeholder=""></textarea>
              </nz-form-control>
            </nz-form-item>
          </nz-tab>
        </nz-tabset>
      </div>
      <h4>Effectiveness</h4>
      <nz-form-item>
        <nz-form-label>Active from</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="active_from" nzSize="large" nzPlaceHolder=""></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Active to</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="active_to" nzSize="large" nzPlaceHolder=""></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <h4>Status</h4>
      <div class="status-row">
        <span class="status-active" *ngIf="status">Active</span>
        <span *ngIf="!status">Deactive</span>
        <nz-switch [ngModel]="status" [ngModelOptions]="{standalone: true}" (ngModelChange)="status=$event"></nz-switch>
      </div>
      <hr>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" class="btn-lg">Add</button>
          <a (click)="onCloseSidebar()" nzType="text" class="btn-lg" >Cancel</a>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>